$navigation-bg: #e40613;
$mobile-link-bg: #d10c19;

.navigation {
    display: flex;
    justify-content: space-between;
    background-color: $navigation-bg;
    text-align: center;
    height: 80px;
}

.hamburger {
    display: none !important;
    position: absolute;
    top: 20px;
    right: 10px;

    &:focus {
        border: none;
        outline: 1px solid rgb(152 9 9);
    }
}

.ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-right: 5px;
}

.li {
    padding: 0 5px;
}

.a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 5px;
    transition: text-decoration .4s;
    cursor: pointer;
    font-size: 1rem;

    &:hover {
        text-decoration: underline;
    }
}

.logo {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        text-decoration: none;
    }
}

.img-container {
    position: relative;
    height: 53px;
    width: 53px;
    border-radius: 50%;
    background-color: #efefef;
}

.logo-text {
    font-weight: 400;
    font-size: 1.1rem;
    padding-left: 10px;
    text-transform: uppercase;
}

.logo-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    height: 40px;
}

@media (max-width: 1024px) {

    .hamburger {
        display: block !important;
    }

    .navigation {
        justify-content: flex-start;
    }

    .ul {
        flex-direction: column;
        text-align: center;
        background-color: $navigation-bg;
        margin-right: 0;
    }

    .li {
        width: 100%;
        padding: 0;
    }

    .a.logo {
        width: auto;
        background-color: $navigation-bg;
        margin: 0 5px;
    }

    .a {
        margin: 5px 0 0 0;
        width: 100%;
        padding: 12px 0;
        background-color: $mobile-link-bg;
    }

}